<?xml version="1.0" encoding="utf-8"?>
<xml>
	<version>v20111201</version>
	<socket>
		<ip>172.18.39.116</ip>
		<port>8888</port>
	</socket>
	<file root="">
		<swf name="游戏资源">
			<item name="主界面">assets/ui/main.swf</item>
		</swf>
		<xml name="游戏数据">
			<item name="游戏数据">assets/config/gamedata.xml</item>
		</xml>
	</file>
</xml>